@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
}

.scrollbar-custom {
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 0px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  border-radius: 0px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background-color: transparent;
}

.text-16-16 {
  @apply text-[16px] leading-[16px];
}

.nav-item {
  @apply font-lato text-[1rem] leading-[1.2rem] font-medium;
}

.body-text-1-bold {
  @apply text-[28px] leading-[42px] font-bold;
}

.body-text-2-bold {
  @apply text-[24px] leading-[36px] font-bold;
}

.body-text-3-bold {
  @apply text-[18px] leading-[27px] font-bold;
}

.body-text-4-bold {
  @apply text-[16px] leading-[24px] font-bold;
}

.body-text-1-regular {
  @apply text-[28px] leading-[42px] font-normal;
}

.body-text-2-regular {
  @apply text-[24px] leading-[36px] font-normal;
}

.body-text-3-regular {
  @apply text-[18px] leading-[27px] font-normal;
}

.body-text-4-regular {
  @apply text-[16px] leading-[24px] font-normal;
}

/* h1 {
  @apply text-[64px] leading-[96px];
}

h2 {
  @apply text-[52px] leading-[78px];
}

h3 {
  @apply text-[48px] leading-[72px];
}

h4 {
  @apply text-[40px] leading-[60px];
}

h5 {
  @apply text-[32px] leading-[48px];
}

h6 {
  @apply text-[24px] leading-[36px];
} */

input {
  @apply focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent;
}

select {
  @apply focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent;
}

.body-text-regular-20 {
  @apply text-[20px] leading-[27px];
}

.body-text-14 {
  @apply text-[14px] leading-[24px];
}

.general-body-text {
  @apply text-[20px] leading-[32px];
}

.body-text-small {
  @apply text-[10px] leading-[15px];
}

.custom-checkbox input[type="checkbox"] {
  outline: none;
  border: 1px solid black;
}

.custom-checkbox input[type="checkbox"]:focus {
  outline: none;
  border-color: transparent !important;
}
