@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
}

.scrollbar-custom {
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 0px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  border-radius: 0px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background-color: transparent;
}

input {
  @apply focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent;
}

select {
  @apply focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent;
}

.text-12-14 {
  @apply text-[0.75rem] leading-[0.9rem];
}

.text-10-12 {
  @apply text-[0.625rem] leading-[0.75rem];
}

.text-8-9 {
  @apply text-[0.5rem] leading-[0.6rem];
}

.text-48-57 {
  @apply text-[3rem] leading-[3.6rem];
}

.text-16-19 {
  @apply text-[1rem] leading-[1.2rem];
}

.text-14-16 {
  @apply text-[0.875rem] leading-[1.05rem];
}

.text-32-38 {
  @apply text-[2rem] leading-[2.4rem];
}

.text-4-4 {
  @apply text-[0.25rem] leading-[0.3rem];
}

.custom-checkbox input[type="checkbox"] {
  outline: none;
  border: 1px solid black;
}

.custom-checkbox input[type="checkbox"]:focus {
  outline: none;
  border-color: transparent !important;
}
